# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Editor/IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Packaging
build/
dist/
*.egg-info/

/test.pdf
/test.docx
/test.txt
/ScientificArticleSturucture.pdf
